<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-lg-6 m-auto col-md-10 col-sm-10 ">
                <h3 class="listing-title "> Login to your account</h3>

                <form action="/login" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Username</label>
                        <input type="text" name="username" placeholder="Enter Username" class="form-control"
                            required />
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter password" class="form-control"
                            required />
                    </div>

                    <button class="btn add-btn mb-4">Login</button>
                </form>

                <div class="signup-suggest ">
                    Don't have an account?
                    <a href="/signup">Sign up now!</a>
                </div>
            </div>
        </div>
    </body>